<div class="clockContainer">
  <p class="clock" id="explosion"><span id="boom" data-text="BOOOOOM!">BOOOOOM!</span></p>
  <p class="clock" id="time">
    <span id="minus" data-text="-">-</span><span id="hours" data-text="00">00</span><span class="colon" data-text=":">:</span><span id="mins" data-text="00">00</span><span class="colon" data-text=":">:</span><span id="secs" data-text="00">00</span>
  </p>
</div>
