
  BOMBA!!
  <div id="mycontent">
    <div id="retry" style="display:none;">
      C칩digo no v치lido, sigue intent치ndolo!
    </div>
    <form id="myform" method="POST" action="/check">
      Clave:<br>
      <input id="mykey" type="text" name="key"/><br>
      C칩digo:<br>
      <input id="mycode" type="text" name="code"/>
      <input type="submit" value="Enviar" />
    </form>
  </div>
  <div id="myprize" style="display:none;">
    PREMIO!!
  </div>


  <input id="mytest" type="button" value="Get Code"/>
