@font-face {
  font-family: 'Digital';
  src: url('../../../../fonts/ds-digital/ds-digi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital';
  src: url('../../../../fonts/ds-digital/ds-digib.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
