.container
  width: 80%
  height: 100%
  margin: 0 auto
  +column-flex
  justify-content: center
  .mainText
    width: 60%
    font-size: 1em
    margin-bottom: 2em
    h1
      margin-top: 0
    &.centered
      text-align: center
      margin-bottom: 0
      h1
        margin-bottom: 0
    &.neoned
      position: relative
      color: $maincolor
      //color: $secondarycolor
      +prefix(animation, neon 1000ms ease-in-out infinite alternate)
      &:before
        +neoned_before
    .repository
      margin-top: 1em

  #mycontent
    position: relative
    #retry, #myprize
      display: none
      position: absolute
      width: max-content
      top: .5em
      left: 50%
      +transform(translateX(-50%))
    #retry
      color: $red
    #myprize
      color: $green


@media (max-width: $media4)
  .container
    .mainText
      width: 80%


@media (max-width: $media10)
  .container
    .mainText
      width: 90%
      font-size: .8em
    #mycontent
      #retry, #myprize
        top: 1em
        font-size: .8em


@media (max-width: $media15)
  .container
    .mainText
      width: 90%
      font-size: .75em
