.container
  width: 80%
  height: 100%
  margin: 0 auto
  +column-flex
  justify-content: center
  #volumeBtn, #clueBtn
    position: absolute
    top: 1em
    cursor: pointer
    font-size: 2em
    &:hover
      +hover_scale_opacity
    &.disable
      opacity: .5
  #volumeBtn
    left: 2.5em
  #clueBtn
    left: 1em
    //#clueIcon
      //font-size: 2em
  .mainText
    width: 60%
    font-size: 1em
    margin-bottom: 2em
    h1
      margin-top: 0
    &.centered
      text-align: center
      margin-bottom: 0
      h1
        margin-bottom: 0
    &.neoned
      position: relative
      color: $maincolor
      //color: $secondarycolor
      +prefix(animation, neon 1000ms ease-in-out infinite alternate)
      &:before
        +neoned_before
    .repository
      margin-top: 1em

  #mycontent
    position: relative
    #retry, #myprize
      opacity: 0
      //display: none
      position: absolute
      width: max-content
      top: .5em
      left: 50%
      //+transform(translateX(-50%))
      transform-origin: left top
      +prefix(transform, scale(1) translateX(-50%))
      &.appear
        +prefix(animation, appear 1500ms 2 alternate)
    #retry
      color: $red
    #myprize
      color: $green


@media (max-width: $media2) and (orientation: landscape)
  .container
    .mainText
      width: 80%


@media (max-width: $media4)
  .container
    .mainText
      width: 80%


@media (max-width: $media5) and (orientation: landscape)
  body
    height: max-content
  .container
    width: 90%
    height: max-content
    margin: 3em auto


@media (max-width: $media10)
  .container
    .mainText
      width: 90%
      font-size: .8em
    #mycontent
      #retry, #myprize
        top: 1em
        font-size: .8em


@media (max-width: $media14)
  .container
    .mainText
      width: 90%
      font-size: .75em
